<!-- templates/users/register.html -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">{{ form.username.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form.telefono.label_tag }}
                {{ form.telefono }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form.fecha_nacimiento.label_tag }}
                {{ form.fecha_nacimiento }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form.direccion.label_tag }}
        {{ form.direccion }}
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="text-danger">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="text-danger">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group form-check">
        {{ form.acepta_terminos }}
        <label class="form-check-label" for="{{ form.acepta_terminos.id_for_label }}">
            Acepto los términos y condiciones
        </label>
        {% if form.acepta_terminos.errors %}
            <div class="text-danger">{{ form.acepta_terminos.errors }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>